.wrapper {
    &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/mini cat.webp");
        background-repeat: no-repeat;
        z-index: -1;
        filter: blur(10px);
        background-size: cover;
    }

    display: flex;
    flex-direction: column;

}

.li {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid gray;
    width: 100%;
    max-width: 300px;
    margin: 15px 10px;
    box-shadow: 3px 3px 5px 2px #65b1da;
    background: linear-gradient(45deg, skyblue, white);
    cursor: pointer;
}
